<!DOCTYPE html>
<html>
  <head>
    <title>Hktvmall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- prettier-ignore -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- prettier-ignore -->
    <% if current_shop %>
     <%= current_shop.shopname %>
    <form action="/shop_logins/<%= current_shop.id %>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      />
      <input type="hidden" value="delete" name="_method" />
      <button>Log Out</button>
    </form>
    <% end %>
    <!-- prettier-ignore -->
    <% if current_user %>
    <%= current_user.username %>
    <form action="/logins/<%= current_user.id %>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      />
      <input type="hidden" value="delete" name="_method" />
      <button>Log Out</button>
    </form>
    <% end %> <%= yield %>
  </body>
</html>
